.night{
    background-image: url('night.jpg');
    background-size: cover;
    
}
body {
    background-color: black;
    color: white;
}

.title{
    color: white;
}
.day{
    background-image: url('day.jpg');
    background-size: cover;
    color: black;
   
}

input{
    width: 100%;
    margin: auto 0;
}


.card{
    position: relative;
    opacity: 0.5;
    z-index: 0;
    color: black;
    tex
    
}
